$butColor: #71839b;
$bcgrBlock: #f5f5f5;
$border: 1px #e4e4e4 solid;
$TxtColor: #656565;
$borderBut: 2px #71839b solid;

.table {
	position: sticky;
	overflow: auto;
	display: flex;
	width: 100%;
	height: auto;
	align-items: left;
	flex-direction: column;
	table {
		background: #f2f2f2;
		border-spacing: 0;
		border-collapse: separate;
		tr {
			td {
				border: $butColor 1px solid;
				.shiftCell {
					display: flex;
					align-items: center;
					div {
						display: flex;
						flex-direction: column;
					}
				}
				// select {
				// 	// padding: 10px;
				// 	// width: 100%;
				// }
			}
		}
		th {
			position: sticky;
			width: 5em;
			left: 5em;
			background: #f2f2f2;
			z-index: 1;
			top: 40px;
			text-transform: capitalize;
			font-weight: bold;
			&:first-of-type {
				left: 0;
			}
		}
		thead {
			td,
			th {
				position: sticky;
				width: max-content;
				top: 0;
				z-index: 1;
				background: #f2f2f2;
				border: $butColor 1px solid;
				text-transform: capitalize;
				font-weight: bold;
			}
		}
		.top {
			margin: 0;
			z-index: 2;
		}
		.empty {
			z-index: 0;
		}
	}
}
// .table td,
// .table th {
// 	// border: 2px $butColor solid;
// 	text-align: center;
// 	font-size: 18px;
// 	border-top: 2px $butColor solid;
// 	border-bottom: 2px $butColor solid;
// 	border-right: 2px $butColor solid;
// }

.header {
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: auto;
}

.days {
	display: flex;
}

.input-date,
.days,
.filter1,
.login-button {
	padding-left: 10px;
	padding-right: 10px;
}

.navMenuContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.navMenuContainer a {
	display: flex;
	border: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	padding: 15px 50px;
	text-decoration: none;
	margin: 10px 0 0 0;
	background-color: $butColor;
	color: #fff;
}

.navMenuContainer a:hover a:active {
	background-color: orange;
}

.wrapper-ul {
	display: flex;
	justify-content: center;
	li {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		input {
			padding: 10px;
			margin: 0 5px 5px 0;
			border: $border;
		}
	}
}

.add-but,
.del-but,
.add-but,
.edit-but {
	justify-self: flex-end;
	flex-direction: column;
	margin: 5px;
	border: none;
	padding: 7px 10px 10px 10px;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	color: $butColor;
	border: $borderBut;
}
.del-but {
	border: 2px red solid;
	color: red;
	font-weight: bold;
	padding: 5px 0px 10px 8px;
}
.add-but {
	font-size: 25px;
	padding: 0px 0px 0px 6px;
}
.edit-but {
	padding: 2px 0px 0px 6px;
}
.edit-but:hover,
.add-but:hover,
.add-but-adm:hover {
	background: $butColor;
	color: #fff;
}

.edit-but:hover,
.days button:hover {
	background: $butColor;
	color: #fff;
}

.del-but:hover {
	background: red;
	color: #fff;
}

.input-date input {
	padding: 5px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px 4px 4px 4px;
	height: 34px;
}

.days button {
	height: 36px;
	padding: 5px;
	width: 36px;
	border: $border;
	color: #fff;
	background: #71839b;
	border-radius: 4px 0px 0px 4px;
}

.days input:nth-child(2) {
	padding: 5px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 0px 4px 4px 0px;
	height: 24px;
	border-left: none;
	width: 50px;
	height: 36px;
}

.dropdown-heading-loading-container {
	width: 200px !important;
}

.first-line,
.second-line {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin-bottom: 20px;
}

.not-active {
	text-decoration: line-through !important;
}

.form-user,
.form-login {
	padding: 20px;
	width: 25%;
	border: 1px solid rgb(204, 204, 204);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	form {
		width: 100%;
	}
	input {
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
		border: $border;
	}
}

.form-user-but {
	padding: 10px;
	font-size: 15px;
	border: 1px solid rgb(204, 204, 204);
}

.form-user-but:hover {
	color: #fff;
	background: #4a76a8;
}
.content-login {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 500px;
}
.tab-content {
	width: 30%;
}
.tab-content form {
	width: 100%;
}
.comment-icon-full,
.comment-icon-empty {
	margin-left: 10px;
	color: $butColor;
}
