$butColor: #71839b;
$bcgrBlock: #f5f5f5;
$border: 1px #e4e4e4 solid;
$TxtColor: #656565;

@media only screen and (max-width: 767px) {
	.container-header-wrp {
		display: none;
	}
	.catalog {
		grid-template-columns: 50% 50%;
	}
	.content {
		grid-template-rows: none;
		margin-top: 85px;
	}
	.footer-phone,
	.footer-email {
		font-size: 14px;
	}
	.menu-footer {
		width: 70%;
	}
	.footer-right {
		width: 30%;
	}
	.navMenuContainer {
		display: flex;
		flex-direction: column;
		margin-top: 95px;
		width: 90%;
		margin: 60px auto;
	}
	.wrapper-ul {
		ul {
			display: flex;
			flex-direction: column;
			width: 90%;
		}
		li {
			display: flex;
			flex-direction: column;
			input {
				margin-bottom: 10px;
				width: 100%;
			}
		}

		.active {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
	.input-date input {
		width: 100%;
	}
	.input-date,
	.days,
	.filter1 {
		width: 100%;
		margin-bottom: 10px;
	}

	.first-line,
	.second-line {
		flex-direction: column;
	}
	.form-user {
		width: 50%;
		input {
			margin-bottom: 10px;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 320px) {
	.content {
		grid-template-rows: none;
		margin-top: 85px;
	}
	.catalog {
		grid-template-columns: 100%;
		grid-template-rows: minmax(290px, auto) minmax(290px, auto);
	}
	.footer-wrp {
		flex-direction: column;
	}
	.menu-footer {
		flex-direction: column;
		display: none;
	}
	.footer-right {
		width: 100%;
	}
	.footer-phone,
	.footer-email {
		text-align: center;
	}
	.item-content {
		display: none;
	}
	.container-header-wrp {
		display: none;
	}
	.nav-tabs {
		width: 90%;
	}
	.tab-content {
		width: 90%;
		margin-top: 35px;
	}
	.navMenuContainer {
		display: flex;
		flex-direction: column;
		margin-top: 95px;
		width: 90%;
		margin: 60px auto;
	}
	.wrapper-ul {
		ul {
			display: flex;
			flex-direction: column;
			width: 90%;
		}
		li {
			display: flex;
			flex-direction: column;
			input {
				margin-bottom: 10px;
				width: 100%;
			}
		}

		.active {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
	.input-date input {
		width: 100%;
	}
	.input-date,
	.days,
	.filter1 {
		width: 100%;
		margin-bottom: 10px;
	}
	.days {
		button {
			background: $butColor;
		}
	}
	.first-line,
	.second-line {
		flex-direction: column;
	}
	.table {
		justify-content: center;
		flex-direction: row;
		width: 100%;
		table {
			width: 90%;
		}
	}
	.form-user {
		width: 100%;
		input {
			margin-bottom: 10px;
			width: 100%;
		}
	}
	.block-techs-wrp,
	.block-techs-wrp-adm {
		flex-direction: column;
	}
}

@media only screen and (max-width: 480px) {
	.content {
		grid-template-rows: none;
		margin-top: 85px;
	}
	.catalog {
		grid-template-columns: 100%;
		grid-template-rows: minmax(290px, auto) minmax(290px, auto);
	}
	.container-header-wrp {
		display: none;
	}
	.item-content {
		display: none;
	}
	.footer-wrp {
		flex-direction: column;
	}
	.menu-footer {
		flex-direction: column;
		display: none;
	}
	.footer-right {
		width: 100%;
	}
	.column-menu-foot {
		width: 100%;
		text-align: center;
	}
	.footer-phone,
	.footer-email {
		text-align: center;
	}
	.nav-tabs {
		width: 90%;
	}

	.tab-content {
		width: 90%;
		margin-top: 35px;
	}

	.navMenuContainer {
		display: flex;
		flex-direction: column;
		margin-top: 95px;
		width: 90%;
		margin: 60px auto;
	}
	.wrapper-ul {
		ul {
			display: flex;
			flex-direction: column;
			width: 90%;
		}
		li {
			display: flex;
			flex-direction: column;
			input {
				margin-bottom: 10px;
				width: 100%;
			}
		}

		.active {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
	.input-date,
	.days,
	.filter1 {
		width: 100%;
		margin-bottom: 10px;
	}
	.days {
		button {
			background: $butColor;
		}
	}
	.first-line,
	.second-line {
		flex-direction: column;
	}
	.table {
		flex-direction: row;
		justify-content: center;
		width: 100%;
		table {
			width: 90%;
		}
	}
	.form-user {
		width: 100%;
		input {
			margin-bottom: 10px;
			width: 100%;
		}
	}
	.block-techs-wrp,
	.block-techs-wrp-adm {
		flex-direction: column;
	}
}
