$butColor: #71839b;
$bcgrBlock: #f5f5f5;
$border: 1px #e4e4e4 solid;
$TxtColor: #656565;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	color: $TxtColor;
	font-family: arial, sans-serif;
	text-decoration: none !important;
	list-style: none !important;
}

/* make sure to set some focus styles for accessibility */
:focus {
	outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type='search'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
	display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
	outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
	color: #656565;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
	margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
	margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

img {
	vertical-align: middle;
	width: 100%;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
a {
	list-style: none;
	text-decoration: none;
	color: $TxtColor;
}

h2 {
	font-size: 40px;
	color: #5e5e5e;
}

header {
	border-bottom: $border;
}

.logo {
	display: grid;
}

.header-phone-cont {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.butt-login {
	display: inline-flex;
	justify-content: flex-end;
}

.header-phone {
	font-size: 1.3vw;
	font-weight: bold;
}

.header-phone-wrp {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.container-header {
	display: grid;
	grid-template-columns: 20% 1fr 30%;
	grid-template-rows: auto;
	text-align: center;
	max-width: 1280px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0px 15px 0px;
}

.container-header-wrp {
	border-bottom: $border;
}

.top-menu {
	align-content: center;
	display: grid;
	justify-content: stretch;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.top-menu .stickytop {
	position: fixed;
	top: 0;
}

.top-menu ul {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	font-family: arial;
}
.item-content {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 480px;
	max-width: 1280px;
	min-width: 320px;
}
.content {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(400px, auto) minmax(400px, auto);
	grid-row-gap: 35px;
	margin-top: 35px;
}
.monipul-img,
.pogruz-img,
.samosval-img,
.catalog-porgruzchiki,
.catalog-samosvaly,
.catalog-manipulyatory,
.catalog-buldozery,
.catalog-polivochnye,
.catalog-excovatory {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.pogruz-img {
	background-image: url('../img/pogruzchik.png');
}
.monipul-img {
	background-image: url('../img/manipulyator.png');
}
.samosval-img {
	background-image: url('../img/SHACMAN.png');
}
.cul-pdg {
	padding: 20px;
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cul-title {
	text-align: center;
	font-size: 35px;
}
.cul-descr {
	font-size: 1.8vw;
	line-height: 145%;
	text-align: center;
	color: gray;
}
.cul-descr,
.cul-but {
	margin-top: 35px;
}
.cul-but {
	padding: 10px 20px 10px 20px;
	background: #71839c;
	color: #fff;
	border: none;
}
.catalog {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: minmax(290px, auto) minmax(290px, auto);
	grid-gap: 15px;
	justify-content: center;
	max-width: 1280px;
	min-width: 320px;
}

.catalog-img-wrp {
	padding: 20px;
}
.catalog-item {
	border: 1px #e4e4e4 solid;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.but-catalog-wrp {
	padding: 10px 0px 15px 0px;
}
.cat-h3 {
	padding: 10px;
}

.but-catalog {
	display: block;
	padding: 12px 20px 12px 20px;
	background-color: $butColor;
	color: #fff;
	border-radius: 5px;
	border: none;
}

// .left-menu {
//   display: flex;
//   height: 60vh;
// }
.content-techs {
	display: grid;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
}
.admin-content {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
}
// .admin-content-wrp {
//   display: grid;
//   grid-gap: 15px;
//   grid-template:
//     "b1 b1 b1 b1" minmax(100px, auto)
//     "b1 b1 b1 b1" minmax(100px, auto)
//     "b2 b2 b2 b2" minmax(100px, auto)
//     "b2 b2 b2 b2" minmax(100px, auto)
//     "b3 b3 b3 b3" minmax(100px, auto)
//     "b3 b3 b3 b3" minmax(100px, auto)
//     "b4 b4 b4 b4" minmax(100px, auto)
//     "b4 b4 b4 b4" minmax(100px, auto)
//     / 1fr 1fr 1fr 1fr;
// }
.cont-techs-wrp {
	display: grid;
	/*grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 400px);*/
	grid-gap: 15px;
	grid-template:
		'a b1 b1 b1' minmax(100px, auto)
		'a b1 b1 b1' minmax(100px, auto)
		'a b2 b2 b2' minmax(100px, auto)
		'a b2 b2 b2' minmax(100px, auto)
		'. b3 b3 b3' minmax(100px, auto)
		'. b3 b3 b3' minmax(100px, auto)
		'. b4 b4 b4' minmax(100px, auto)
		'. b4 b4 b4' minmax(100px, auto)
		/ 200px 1fr 1fr 1fr;
}
.block-techs {
	display: flex;
}
.block-techs:nth-child(1) {
	grid-area: a;
}
.block-techs:nth-child(2) {
	grid-area: b1;
}
.block-techs:nth-child(3) {
	grid-area: b2;
}
.block-techs:nth-child(4) {
	grid-area: b3;
}
.block-techs:nth-child(5) {
	grid-area: b4;
}
.block-techs-wrp,
.block-techs-wrp-adm {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: row;
	border: $border;
	background: $bcgrBlock;
}
.block-techs-wrp-adm {
	margin-bottom: 10px;
}
.block-techs-descr {
	width: 44%;
}
.block-techs-descr ul li {
	font-size: 15px;
	padding: 5px;
	border-bottom: 1px gray dashed;
}
.block-techs-descr ul li span {
	font-weight: bold;
	float: right;
}
.left-menu {
	background: $butColor;
	padding: 10px 20px 20px 20px;
	border-radius: 5px;
}
.left-menu ul li {
	padding: 10px 5px 10px 5px;
	border-bottom: $border;
}
.left-menu ul li a {
	color: #fff;
}
.title-blc-techs {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
.techs-img {
	width: 28%;
}
.block-techs-right {
	display: flex;
	text-align: center;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 28%;

	span {
		font-weight: bold;
		font-size: 20px;
	}
}
.footer {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: $border;
}
.footer-wrp {
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.menu-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 70%;
}
.column-menu-foot {
	width: 33%;
	margin: 0px 5px 0px 5px;
	display: flex;
	justify-content: center;
	ul {
		display: inline-flex;
		flex-direction: column;
	}
	li {
		padding: 5px;
	}
}
.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
}
.footer-phone,
.footer-email {
	width: 100%;
	padding: 5px;
	text-align: right;
	font-size: 20px;
}
.content-contacts,
.arenda-container {
	max-width: 1280px;
	min-height: 600px;
	margin: 0 auto;
	margin-top: 30px;
}
.contacts-data {
	margin-top: 30px;
	border: $border;
}
.contacts-data-wrp {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.contacts-item {
	font-size: 17px;
	font-weight: 600;
	color: $TxtColor;
	padding: 20px 0px 20px 0px;
}
.arenda-deskr {
	font-size: 16px;
	line-height: 145%;
	padding: 30px 50px 30px 45px;
	text-align: justify;
}
.sidebar-menu {
	text-align: center;
	li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 20px;
		border-bottom: $border;
	}
	a {
		padding: 20px 0px 20px 0px;
		font-size: 16px;
		color: $butColor;
	}
}
.icon-sidebar {
	width: 30px;
	margin-right: 25px;
}
.sideBarContentWrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.tableScreenWrapper {
	display: contents;
}
.headerMobile {
	border-bottom: $border;
	display: flex;
	position: fixed;
	width: 100%;
	background: #fff;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;

	@media only screen and (min-width: 768px) {
		display: none;
	}
	div {
		width: 100%;
	}

	h1 {
		text-align: center;
		font-weight: bold;
		font-size: 25px;
	}
}
.butt-login {
	display: inline-flex;
	justify-content: flex-end;
	border: 1px $butColor solid;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	color: $butColor !important;
	align-items: center;
}
.butt-login:hover {
	color: #fff !important;
	background: $butColor;
	.enter-icon,
	.exit-icon {
		color: #fff;
	}
}
.enter-icon,
.exit-icon {
	margin-right: 10px;
	color: $butColor;
}
.sidebar-icon {
	color: $butColor;
}

.MobileMenu-icon {
	color: $butColor;
}
.mark-techs {
	display: inline-block;
	padding: 5px;
}
.load-photo {
	padding: 20px;
}
.block-techs {
	input {
		padding: 5px;
		border-radius: 5px;
		border: $border;
	}
	select {
		padding: 5px;
		border-radius: 5px;
		border: $border;
	}
}
.admin-panel {
	width: 100%;
	margin: 0 auto;
}
.admin-panel-wrp,
.select-adminsait {
	display: flex;
	flex-direction: row;
	justify-content: center;
	input {
		height: 45px;
		border: $border;
		border-radius: 5px;
	}
	label {
		margin: 10px 0 10px 0;
	}
	select {
		height: 45px;
		border-radius: 5px;
		display: block;
		border: $border;
	}
}
.select-adminsait {
	margin: 0 0 0 20px;
}
.add-parameter {
	padding: 12px;
	background: $butColor;
	border: $border;
	color: #fff;
}
.next {
	border-radius: 0 5px 5px 0;
}
.TechsBlockCont {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.top-select {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px 0px 50px 0;
}
.but-edit-techs {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 10px;
}
